<!DOCTYPE html>

<html>

	<head>
  		<title>Clucker</title>
  		<%= stylesheet_link_tag    'application', media: 'all' %>
  		<%= javascript_include_tag 'application' %>
  		<%= csrf_meta_tags %>
  		<link href='http://fonts.googleapis.com/css?family=Lobster|Anton|Oswald:400,700|Francois+One|Fjalla+One|Playball' rel='stylesheet' type='text/css'>
	
		<script language="JavaScript">
		<var time = null
		function move() {
		window.location = 'http://www.clucker.com/main/clucks'
		}
		</script>
	</head>

	<body onload="timer=setTimeout('move()',2000)">

    <div id="frmSignup">
      <div class="content">
        <p> Prepare to meet your new poultry overlords!</p>
        <input type="text" id="txtFirst" placeholder="First Name" />
        <input type="text" id="txtLast" placeholder="Last Name" />
        <input type="text" id="txtEmail" placeholder="Email Address" />
        <div class="right" style="margin-top: 10px;">
          <button id="btnSignupSend">Send</button>
          <button id="btnSignupCancel">Cancel</button>
        </div>
      </div>
    </div>

		<div id="logo">
		CLUCKER.COM
		</div>

		<ul id="Menu">
			<li> <a href = "http://localhost:3000/main/home">Home</a> </li>
			<li> <a href = "http://localhost:3000/main/about">What Is Clucker?</a> </li>
			<li> <a href = "http://localhost:3000/main/team">About Us</a> </li>
			<li> <a href = "http://localhost:3000/main/faqs">FAQs</a> </li>
			<li> <a href = "http://localhost:3000/main/contact">Contact Us</a> </li>
		</ul>

		<button class = "button"> Cluck Here </button>

	</div>

	<%= stylesheet_link_tag "//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" %> 
	<%= stylesheet_link_tag "//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css" %> 
	<%= javascript_include_tag "//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js" %>

	<%= yield %>

		<div id="footer">
		Copyright &copy; 2014 Colonel Sanders, Inc. 
		</div>

	</body>
	
</html>
